.flex-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.username-input {
    width: 66%;
}

.password-input {
    width: 66%;
}

md-card {
    display: flex;
    width: 33%;
    height: 33%;
    margin-top: 7em;
}

