<div class="component-wrapper">
  <div class="flex-container-center">
    <md-card>
      <div class="flex">
        <div class="full-width">
          <h1 class="sign-in-header-title">Sign in</h1>
          <p class="sign-in-header-body">with your Sandbox Account</p>
        </div>
        <md-input-container class="username-input full-width">
          <input mdInput placeholder="Username">
          <md-icon mdSuffix class="username-button icon-button" routerLink="/dashboard" routerLinkActive="selected">arrow_forward</md-icon>
        </md-input-container>
      </div>
    </md-card>
  </div>
</div>