.dark-theme-button {
    height: 100%;
}

.light-theme-button {
    height: 100%;
}

.logout-button {
    height: 100%;    
}

.top-nav-bar {
    display: flex;
    padding: 0;
}

.split-space-between {
    flex: auto 1 1;
}