<div class="animation-wrapper">
  <div class="three-forth-width row flip-tile" (click)="flipTile(1)" [@flipState]="tileOneDirection">
    <div class="full-width full-height tile-side tile-one-overview">Overview</div>
    <div class="full-width full-height tile-side tile-one-details">Details</div>
  </div>
  <div class="one-forth-width row flip-tile" (click)="flipTile(2)" [@flipState]="tileTwoDirection">
    <div class="full-width full-height tile-side tile-two-overview">Overview</div>
    <div class="full-width full-height tile-side tile-two-details">Details</div>
  </div>
  <div class="half-width row flip-tile" (click)="flipTile(3)" [@flipState]="tileThreeDirection">
    <div class="full-width full-height tile-side tile-three-overview">Overview</div>
    <div class="full-width full-height tile-side tile-three-details">Details</div>
  </div>
</div>