// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

@import "./theming/unicorn-dark-theme.scss";
@import "./theming/unicorn-dark-colors.scss";

///////////////////////Custom theming////////////////////////////////





/////////////////////////////////////////////////////////////////////
body {
  margin: 0;
  height: 100vh;
}

.component-wrapper {
  background-color: $background;
  height: 100%;
}

.flex-container {
  display: flex;
}

.flex-container-center {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.half-height {
  height: 50%;
}

.half-width {
  width: 50%;
}

.icon-button {
  transition: color 1000ms ease-in-out;
  cursor: pointer;
}

.one-forth-height {
  height: 25%;
}

.one-forth-width {
  width: 25%;
}

.one-third-height {
  height: 33%;
}

.one-third-width {
  width: 33%;
}

.three-forth-height {
  height: 75%;
}

.three-forth-width {
  width: 75%;
}

.two-third-height {
  height: 66%;
}

.two-third-width {
  width: 66%;
}

