//Background:
$status-bar: #000000; // Status bar     #000000
$app-bar: #212121;    // App bar        #212121
$background: #303030; // Background     #303030
$card: #424242;       // Cards/Dialogs  #424242 rgb(66,66,66)
$dialog: #424242;       // Cards/Dialogs  #424242